
.login-form-container{
     background-color: #121113;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}



.registrar-form{
    background-color: #232225;
    width: 412px;
    height: 408px;
    z-index: 10;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms-group{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-bottom: 15px;
}


.form-label{
       font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}


.form-input{
    background-color: #1A191B;
    border: 1px solid #3C393F;
    border-radius: 2px;
    height: 44px;
    padding-left:  10px;
}


.esqueceuasenha{
    font-size: 16px;
    color: #8E4EC6;
    font-weight: 400;
    text-decoration: underline;
       font-family: 'Roboto', sans-serif; 
}


.login-form-btn{
    height: 44px;
    width: 83px;
    background-color: #8E4EC6;
    color: white;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}

.row-options-form{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}