

.filtrosinicio-container{
    width: 100%;
    position: absolute;
    top:100px;
}


.row-filtrosinicio{
    display: flex;
    width: 98%;
    flex-direction: row;
    justify-content: end;

}

.input-pequisarfilme-filtros{
    width: 488px;
    height: 44px;
    border-radius: 4px;
    background-color: #1A191B;
    border: 1px solid #49474E;
    margin-right: 10px;
    padding-left: 10px;
}

.btn-adicionarfilmes-filtros{
     background-color: #8E4EC6;
     border: none;
     color: white;
     font-size: 16px;
     font-weight: 400;
     width: 151px;
     height: 44px;
     border-radius: 2px;
     cursor: pointer;
      font-family: 'Roboto', sans-serif; 

}


.btn-filtros-filtros{
    background-color: #B744F714;
    width: 85px;
    height: 44px;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    font-weight: 400;
    border-radius: 2px;
    color: #F1DDFFFA;
    font-size: 16px;
     font-family: 'Roboto', sans-serif; 
}