@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.85) 100%),
    url('../image/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.09;
}



.container{
     background-color: #121113;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}



.container-filmecartaz{
     background-color: #121113;
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


.moviedetails-filmes-detalhes{
  width: 96%;
  height: 697px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(101, 102, 104);
}


.h1-trailer-section{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    width: 100%;
}