


.classificacao-filmes{
 
     width: 68%;
    margin-top: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: start;
    flex-direction: row;
}



.h1-classificacao-filmes-subtitulo{
    font-size: 16px;
    font-weight: 400;
    color: #EEEEF0;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}


.div-buttons-classificacaofilmes{
    width: 49%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.indicativa-classificacao{
    width: 211px;
    height: 69px;
    background-color: #232225BF;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
}


.h1-indicativa-classificacao-titulo{
    font-weight: 700;
    font-size: 12px;
   width: 211px;
    color: #B5B2BC;
     text-align: center;
}


.h1-indicativa-classificacao-subtitulo{
    font-size: 14px;
    font-weight: 600;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
    color: #FFFFFF;
   
    width: 170px;
    margin-top: 10px;
     text-align: start;
}



.votos-classificacao{
    width: 76px;
    height: 69px;
    background-color: #232225BF;
    border-radius: 4px;
    margin-left: 10px;
     justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
}


.h1-votos-classificacao-titulo{
    font-weight: 700;
    font-size: 12px;
    color: #B5B2BC;
    text-align: center;
    width: 76px;
}


.h1-votos-classificacao-subtitulo{
  font-size: 14px;
    font-weight: 600;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
     text-align: center;
     width: 76px;
}




.classificacao-filmes-titulo{
    width: 49%;
    height: 69px;
    display: flex;
    align-items: center;
   
}

