.sinopse-filmes-container {
  width: 68%;
  margin-top: 30px;
  align-self: flex-end;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.div-sinopse-filmes {
  width: 95%;
  padding: 30px 10px;
  background-color: #23222599;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.h2-div-sinopse-filmes {
  color: #eeeef0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 90%;
  font-size: 16px;
}

.h1-div-sinopse-filmes {
  color: #eeeef0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 90%;
  font-size: 16px;
  margin-bottom: 10px;
}

.div1-sinopse-filmes {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.div1-generos-filmes {
  width: 49%;
}

.div-generos-filmes {
  width: 80%;
  padding: 10px 20px;
  background-color: #23222599;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.div-generos-tipos {
  padding: 15px 20px;
  font-size: 12px;
  color: #ecd9fa;
  background-color: #c150ff2e;
  border-radius: 2px;
}

.row-generos-tipos {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

.info-card {
  background-color: #23222599;
  border-radius: 4px;
  padding: 10px;
  width: 128px;
  height: 72px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 5px;
}

.info-label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b5b2bc;
  margin-bottom: 8px;
  letter-spacing: 1px;
  width: 90%;
  text-align: start;
}

.info-value {
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 0;
  width: 90%;
  text-align: start;
}

.info-row {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}

.info-col {
  flex: 1;
}

.div2-sinopse-filmes {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.info-card1 {
  background-color: #23222599;
  border-radius: 4px;
  width: 210px;
  height: 72px;
  color: white;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
