.footer-container {
  height: 68px;
  width: 100%;
  background-color: #121113;
  border-top: 1px solid #f1e6fd30;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.h1-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #b5b2bc;
  font-family: 'Montserrat', sans-serif;
}

.h2-footer {
  font-weight: 600;
  font-size: 16px;
  color: #b5b2bc;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 480px) {
  .h1-footer {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .h1-footer {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .h1-footer {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 1280px) {
  .h1-footer {
    width: 100%;
    flex-direction: column;
  }
}
