
        .pagination-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-bottom: 30px;
        }

        .pagination-button {
          width: 49px;
          height: 44px;
          border: none;
          border-radius: 2px;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        .pagination-arrow {
          background: #8E4EC6;
          color: white;
          width: 64px;
        }

        .pagination-arrow:hover {
             background: #EBEAF814;
          color: #EAE6FD6E;
          width: 64px;
        }

        .pagination-arrow:disabled {
          cursor: not-allowed;
          opacity: 0.5;
             background: #EBEAF814;
          color: #EAE6FD6E;
          width: 64px;
        }

        .pagination-number {
          background: #8E4EC6;
          color: #fff;
        }

        .pagination-number:hover {
          background: #3d3d3d;
        }

        .pagination-number.active {
          background: #EBEAF814;
          color: #EAE6FD6E;
        }

        .pagination-number.active:hover {
          background: #7c2dcc;
        }
      